<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Font: Source Sans Pro -->
<!-- 		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> -->

		<link rel="stylesheet" th:href="@{../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
		<!-- iCheck -->
		<link rel="stylesheet" th:href="@{../plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
		
		<!-- Theme style -->
		<link rel="stylesheet" th:href="@{../dist/css/adminlte.min.css}">
		
		<!-- summernote -->
		<link rel="stylesheet" th:href="@{../plugins/summernote/summernote-bs4.min.css}">
		
		<style type="text/css">
			.tooltip {
				padding:5px;
				font-size:12px;
				opacity:0.85;
				filter: alpha(opacity=85);
				background-repeat:no-repeat;
				background-image:url(tooltip.gif);
			}
			.tooltip-inner {
				padding:5px 10px;
				max-width:200px;
				pointer-events:none;
				color:white;
				text-align:center;
				background-color:green;
				border-radius:3px;
				box-shadow:0 0 3px rgba(0,0,0,0.25);
			}
			.tooltip-bottom {
				background-position:top center;
			}
			.tooltip-top {
				background-position:bottom center;
			}
			.tooltip-left {
				background-position:right center;
			}
			.tooltip-right {
				background-position:left center;
			}
		</style>
		
	</head>
<body>


<div class="content-wrapper" layout:fragment="content">
		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row" style="padding-top: 5px;">
					<!-- Left col -->
					<section class="col-lg-7 connectedSortable" id="quotation_det">
						<!-- solid sales graph -->
						
						<div class="card">
							<table style="border-color: white; border: 0px;" class="table table-borderless">
								<tr>
									<td style="text-align: left; width: 100%;">
										<div class="form-group input-group-sm row" style="text-align: right; width: 100%;">
					                    	<img style="width:100%;" th:src="@{../img/LOGO_TRAMWEX2.png}" alt="Logo" />
					                  	</div>
									</td>
								</tr>
							</table>
							<table style="border-color: white; border: 0px;" class="table table-borderless table-sm" width="100%" cellspacing="0">
								<tr>
									<td>
										<div>
											<fieldset style=" font-family:fantasy; border: 1px solid #ddd !important; xmin-width: 0; padding: 4px; position: relative; border-radius: 4px; padding-left: 4px !important; margin: 4px; margin-left: 4px; background-color: white; margin-top:5px;">
												<h4 style="text-align: center; font-weight: bold; font-family: sans-serif; ">FACTURE No : <span th:text="${invoice.referenceNumber}"></span> </h4>
													DU <span th:text="${#calendars.format(invoice.invoiceDate, 'dd/MM/yyyy')}"></span>
											</fieldset>
										</div>
									</td>
								</tr>
							</table>
							<table style="border-color: white; border: 0px;" class="table table-borderless table-sm" width="100%" cellspacing="0">
								
								<tr>
									<td colspan="2" style="text-align: center; width: 30%;">
										<div class="form-group input-group-sm row" style="text-align: center;">
					                    	<img style="padding-left: 5px;" th:src="@{${organisation.logo}}" alt="Logo" height="120px;">
					                  	</div>
					                </td>
									<td colspan="2" style="text-align: center; width: 40%;">
										<span style="font: bold; font-size:medium;"><strong>[[${organisation.name}]]</strong></span><br/>
										<span>[[${organisation.addressNumber}]], Avenue de [[${organisation.addressAvenue+', '+organisation.addressQuartier}]]</span><br/>
										<span>[[${organisation.addressProvince+' - '+organisation.addressCommune}]]</span><br>
										<span>[[${'B.P. : '+organisation.postalNumber}]]</span><br>
										<span>[[${'Tél. : '+organisation.telephone}]]</span>
									</td>
									<td colspan="2" style="text-align: right; width: 30%;">
										<span><strong>NIF : </strong>[[${organisation.tin}]]</span><br/>
										<span><strong>RC : </strong>[[${organisation.tradeNumber}]]</span><br/>
										<span><strong>Centre fiscal : </strong>[[${organisation.fiscalCenter}]]</span><br/>
										<span><strong>Forme juridique : </strong>[[${organisation.juridictionForm}]]</span><br/>
										<span th:if="${organisation.isVATPayer}"><strong>Assujetti à la TVA : </strong>OUI</span>
										<span th:unless="${organisation.isVATPayer}"><strong>Assujetti à la TVA : </strong>NON</span><br/>
										<span><strong>Secteur d'activité : </strong>[[${organisation.activitySecter}]]</span>
									</td>
								</tr>
								<tr>
									<td colspan="6">
										<div>
											<fieldset style=" font-family:fantasy; border: 1px solid #ddd !important; xmin-width: 0; padding: 4px; position: relative; border-radius: 4px; padding-left: 4px !important; margin: 4px; margin-left: 4px; background-color: white; margin-top:5px;">
												<h4 style="text-align: center; font-weight: bold; font-family: sans-serif; ">FACTURE NUMERO : <span th:text="${invoice.referenceNumber}"></span> DU <span th:text="${#calendars.format(invoice.invoiceDate, 'dd/MM/yyyy')}"></span></h4>
											</fieldset>
										</div>
									</td>
								</tr>
								
								
							</table>
						
							<table style="border-color: white; border: 0px;" class="table table-borderless table-sm" width="100%" cellspacing="0">
								<tr>
									<td style="width: 65%;">
										<fieldset style="border: 1px solid #ddd !important; xmin-width: 0; padding: 4px; position: relative; border-radius: 4px; margin-top:-20px; padding-left: 4px !important; margin: 4px; margin-left: 4px; background-color: white; margin-top:-25px;">
											<legend style="font-size: medium; margin: 10px; font-weight: bold; margin-bottom: 0px; width: 35%; border: 1px solid #ddd; border-radius: 4px; padding: 5px 5px 5px 10px; ">Adressée à</legend>
											<span><strong>Nom et Prénom ou Raison sociale : </strong></span><span th:text="${invoice.order.client.name}" style="margin-left: 50px;"></span><br/>
											<span><strong>NIF : </strong></span><span th:text="${invoice.order.client.TIN}" style="margin-left: 50px;"></span><br/>
											<span><strong>Résident à : </strong></span><span th:text="${invoice.order.client.addInfos}" style="margin-left: 50px;"></span><br/>
											<span><strong>Assujetti à la TVA : </strong></span><span th:if="${invoice.order.client.isVatSubject}" style="margin-left: 50px;">OUI</span><span th:unless="${invoice.order.client.isVatSubject}" style="margin-left: 100px;">NON</span><br/>
						                 </fieldset>
									</td>
									<td style="width: 35%;">
										<fieldset style="border: 1px solid #ddd !important; xmin-width: 0; padding: 4px; position: relative; border-radius: 4px; margin-top:-20px; padding-left: 4px !important; margin: 4px; margin-left: 4px; background-color: white; margin-top:-8px;margin-left:-25px;">
											<span><strong>Monnaie : </strong></span><span th:text="${currency}" style="margin-left: 5px;"></span><br/>
											<span><strong>Info. TVA : </strong></span><span id="inv_taxable" th:text="${vatStatus}" style="margin-left: 5px;"></span><br/>
						                 	<span><strong>Mode de PYT : </strong></span><span th:text="${pay_mode}" style="margin-left: 5px;"></span><br/>
						                 </fieldset>
						                 
						                 <fieldset style="border: 1px solid #ddd !important; xmin-width: 0; padding: 4px; position: relative; border-radius: 4px; padding-left: 4px !important; margin: 4px; margin-left: 4px; margin-top:0px; background-color: white;margin-left:-25px;">
											<div class="form-group row" style="margin-bottom: 20px;">
						                    	<label for="quo_tax" class="col-sm-5 col-form-label">Ref.du B.C. : </label>
						                    	<div class="col-sm-7 input-group-sm">
						                    		<span style="text-align: right;" class="form-control form-control-border" th:text="${invoice.order.ref}"></span>
						                    	</div>
						                  	</div>
						                  	
						                  	<div class="form-group row" style="margin-top: -25px; margin-bottom: -10px;">
						                    	<label for="quo_tax" class="col-sm-5 col-form-label">Date du B.C. : </label>
						                    	<div class="col-sm-7 input-group-sm">
						                    		<span class="form-control form-control-border" th:text="${#calendars.format(invoice.order.orderDate, 'dd/MM/yyyy')}" style="text-align: right;"></span>
						                    	</div>
						                  	</div>
										</fieldset>
						                 
									</td>
								</tr>
							</table>
							
							<fieldset style="border: 0px solid #ddd !important; xmin-width: 0; padding: 10px; position: relative; border-radius: 4px; padding-left: 20px !important; margin: 10px; margin-left: 0px; background-color: white; margin-top: -25px;">
								<table id="quot_art" class="table table-bordered table-sm" width="100%" cellspacing="0" style="margin-left: 2px; margin-right: 20px;">
									<thead>
										<tr>
											<td><strong>Qté</strong></td>
											<td><strong>Nature de l'article ou service</strong></td>
											<td><strong>PU</strong></td>
											<td><strong>TVA</strong></td>
											<td><strong>PVHTVA</strong></td>
											<td><strong>Valeur TVA</strong></td>
											<td><strong>PVTVAC</strong></td>
										</tr>
									</thead>
									<tbody id="inv_items_detail">
										<tr th:each="art:${articles}">
											<td style="text-align: right;" th:text="${#numbers.formatInteger(art.quantity,1,'WHITESPACE')}"></td>
											<td th:text="${art.title}"></td>
											<td style="text-align: right;" th:text="${#numbers.formatInteger(art.unityPrice,1,'WHITESPACE')}"></td>
											
											<td style="text-align: right;" th:text="${#numbers.formatInteger(art.taxRate,1,'WHITESPACE')}"></td>
											<td style="text-align: right;" th:text="${#numbers.formatInteger(art.totalNVat,1,'WHITESPACE')}"></td>
											<td style="text-align: right;" th:text="${#numbers.formatInteger(art.tax,1,'WHITESPACE')}"></td>
											
											<td style="text-align: right;" th:text="${#numbers.formatInteger(art.total,1,'WHITESPACE')}"></td>
										</tr>
										
										
										
										<tr>
											<td colspan="4" style="text-align: right;"><strong>PVHTVA</strong></td>
											<td colspan="3" style="text-align: right;" th:text ="${#numbers.formatDecimal(invoice.subtotal,3,'WHITESPACE',0,'COMMA')}"></td>
										</tr>
										<tr>
											<td colspan="4" style="text-align: right;"><strong>TVA</strong></td>
											<td colspan="3" style="text-align: right;" th:text ="${#numbers.formatDecimal(invoice.vatAmount,3,'WHITESPACE',0,'COMMA')}"></td>
										</tr>
										<tr>
											<td colspan="4" style="text-align: right;"><strong>TOTAL TVAC</strong></td>
											<td colspan="3" style="text-align: right;" th:text ="${#numbers.formatDecimal(invoice.totalAmount,3,'WHITESPACE',0,'COMMA')}"></td>
										</tr>
									</tbody>
								</table>
							</fieldset>
							
							<fieldset style="border: 0px solid #ddd !important; xmin-width: 0; padding: 4px; position: relative; padding-left: 4px !important; margin: 4px; margin-left: 4px; margin-top:-35px; background-color: white;">
								<table>
									<tr>
										<td>Nous disons :<strong>[[${currency}]] [[${moneyInLetter}]].</strong></td>
									</tr>
								</table>
							</fieldset>
							
							<fieldset th:if="${printBank=='1'}" id="bankInfo" style="border: 1px solid #ddd !important; xmin-width: 0; padding: 10px; position: relative; border-radius: 4px; padding-left: 20px !important; margin: 10px; margin-left: 20px; background-color: white; margin-top: -5px;">
								<legend style="font-size: medium; margin: 10px; font-weight: bold; font-style: oblique; margin-bottom: 0px; width: 35%; border: 1px solid #ddd; border-radius: 4px; padding: 5px 5px 5px 10px; ">Information bancaire</legend>
								<div class="row">
									<div class="col-sm-3">
										<div class="form-group input-group-sm">
											<label for="quo_destination" th:text="#{bank_name}"></label> 
											<span class="form-control form-control-border" th:text="${organisation.bankName}"></span>
<!-- 											<input type="text" readonly="readonly" class="form-control form-control-border" th:value="${organisation.bankName}"/> -->
										</div>
									</div>
									
									<div class="col-sm-3">
										<div class="form-group input-group-sm">
											<label for="quo_destination" th:text="#{bank_account}"></label> 
											<span class="form-control form-control-border" th:text="${organisation.bankAccount}"></span>
<!-- 											<input type="text" readonly="readonly" class="form-control form-control-border" th:value="${organisation.bankAccount}"/> -->
										</div>
									</div>
									
									<div class="col-sm-6">
										<div class="form-group input-group-sm">
											<label for="quo_destination" th:text="#{account_title}"></label> 
											<span class="form-control form-control-border" th:text="${organisation.accountTitle}"></span>
<!-- 											<input type="text" readonly="readonly" class="form-control form-control-border" th:value="${organisation.accountTitle}"/> -->
										</div>
									</div>
								</div>
							</fieldset>
							<!-- /.card-header -->
							
							<br><br/>
							<table>
								<tr>
									<td style="text-align: center;">
										<span style="font-weight: bold;" th:text="${organisation.representativeName}"></span>
										<p>.............................................................</p>
										<span style="font-weight: bold;"  th:text="${organisation.representativePosition}"></span>
									</td>
								</tr>
							</table>
							
							<span th:if="${invoice.signature}" style="writing-mode: vertical-lr; transform: rotate(180deg); float: right; margin-top: -250px; font-size: xx-small;" th:text="${invoice.signature}"></span>
							
						</div>
						
					</section>
					<!-- right col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
	</div>



		
		 <!-- Control Sidebar -->
		 <aside class="control-sidebar control-sidebar-dark">
		   <!-- Control sidebar content goes here -->
		   <p>test</p>
		 </aside>
		 <!-- /.control-sidebar -->
		</div>
	<!-- ./wrapper -->
	
	<!-- jQuery -->
	<script th:src="@{plugins/jquery/jquery.min.js}" src="plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script th:src="@{plugins/jquery-ui/jquery-ui.min.js}" src="plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<!-- Bootstrap 4 -->
	<script th:src="@{plugins/bootstrap/js/bootstrap.bundle.min.js}" src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- AdminLTE App -->
	<script src="dist/js/adminlte.js" th:src="@{dist/js/adminlte.js}"></script>
	
	
	<script th:src="@{js/super.js}" src="js/super.js"></script>
	<script>
		
		window.addEventListener("load", window.print());
		//$('.select2').select2()
	</script>
</body>
</html>