<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<meta charset="UTF-8" />
<title>[[#{payment_management}]]</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<strong><h1 class="m-0 text-dark" th:text="#{payment_management}"></h1></strong>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">
				<nav class="navbar navbar-expand navbar-light">
					<div class="col-sm-1">
						<button type="button" class="btn btn-block btn-outline-primary" data-toggle="tooltip" data-placement="top" th:title="#{back}" onclick="goBack()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>	
					</div>
					
					<div class="col-sm-1" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COM_MANAGER')"> 
						<button type="button" class="btn btn-block btn-outline-success" data-toggle="tooltip" data-placement="top" th:title="#{add_payment}" id="newpayment"> 
							<i class="fas fa-plus"></i> 
						</button>	
					</div> 
	
					<script>
						function goBack() {
							window.history.back();
						}
					</script>
				</nav>
				
				

				<div class="row" style="padding-top: 5px;">
					<!-- Left col -->
					<section class="col-lg-12 connectedSortable" id="quotation_list">
						<!-- Custom tabs (Charts with tabs)-->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">
									<strong><i class="fas fa-folder-open mr-1"></i> [[#{list_payments}]]</strong>
								</h3>
							</div>
							<!-- /.card-header -->
							<fieldset>
							<div id="test" class="table-responsive"  style="border: 0px solid #ddd !important; xmin-width: 0; padding: 2px; position: relative; border-radius: 4px; padding-left: 2px !important;padding-right: 2px !important; margin: 4px; margin-left: 4px; margin-right: 4px; ">
								<table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<td><strong th:text="#{invoice}"></strong></td>
<!-- 												<td  sec:authorize="hasAnyRole('ROLE_ADMIN')"><strong th:text="#{quo_expeditaire}"></strong></td> -->
												<td><strong th:text="#{quo_client}"></strong></td>
												<td><strong th:text="#{quo_sub_amount}"></strong></td>
												<td><strong th:text="#{quo_vat_amount}"></strong></td>
												<td><strong th:text="#{quo_tot_amount}"></strong></td>
												<td><strong th:text="#{quo_mode}"></strong></td>
												<td><strong th:text="#{quo_bank}"></strong></td>
												<td><strong th:text="#{quo_ref}"></strong></td>
												<td><strong th:text="#{quo_date}"></strong></td>
												<td><strong th:text="#{comments}"></strong></td>
												<td  sec:authorize="hasAnyRole('ROLE_COM_MANAGER','ROLE_ADMIN','ROLE_COM_ACOUNTANT')"><strong>+</strong></td>
											</tr>
										</thead>
										<tbody>
											<tr th:each ="art:${pays}" class="art_row" th:data-ref="${art.id}">
												<td th:text ="${art.debt.invoice.referenceNumber}"></td>
<!-- 												<td sec:authorize="hasAnyRole('ROLE_ADMIN')" th:text ="${art.order.organisation.name}"></td> -->
												<td th:text ="${art.debt.invoice.client.name}"></td>
												<td style="text-align: right;" th:text ="${#numbers.formatDecimal(art.totalpaid,3,'WHITESPACE',0,'COMMA')}"></td>
												<td style="text-align: right;" th:text ="${#numbers.formatDecimal(art.totalvat,3,'WHITESPACE',0,'COMMA')}"></td>
												<td style="text-align: right;" th:text ="${#numbers.formatDecimal(art.amount,3,'WHITESPACE',0,'COMMA')}"></td>
												
												<td>
													<span th:if="${art.paidMode==1}" data-toggle="tooltip" data-placement="top" th:title="#{contact_telephone}">[[#{cash}]]</span>
													<span th:if="${art.paidMode==2}" data-toggle="tooltip" data-placement="top" th:title="#{contact_email}">[[#{bank}]]</span>
												</td>
												
												<td th:text ="${art.bankAccount+' '+art.bankName}"></td>
												<td th:text ="${art.paymentReference}"></td>
												<td th:text ="${#calendars.format(art.paymentDate, 'dd/MM/yyyy')}"></td>
												<td th:text ="${art.comments}"></td>
												<td  sec:authorize="hasAnyRole('ROLE_COM_MANAGER','ROLE_ADMIN','ROLE_COM_ACOUNTANT')">
													<div class="input-group-prepend">
									                	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									                      	[[#{action}]]
									                    </button>
									                    <div class="dropdown-menu">
									                      	<div class="btn-group">
										                        <button type="button" class="btn btn-default btn-sm viewInvoice" th:data-ref="${art.id}" data-toggle="tooltip" data-placement="top" th:title="#{view_invoice}"><i class="fa fa-eye"> </i></button>
<!-- 										                        <button th:if="${art.status == 2}" type="button" class="btn btn-warning printInvoice" th:data-ref="${art.id}" data-toggle="tooltip" data-placement="top" th:title="#{print_invoice}"><i class="fa fa-print"> </i></button> -->
<!-- 										                       
<!-- 										                        <button th:if="${art.status == 3}" type="button" class="btn btn-success printInvoice" th:data-ref="${art.id}" data-toggle="tooltip" data-placement="top" th:title="#{edit_invoice}"><i class="fa fa-print"> </i></button> --> -->
										                       
<!-- 										                        <a target="_blank" sec:authorize="hasAnyRole('ROLE_COM_MANAGER','ROLE_COM_ACOUNTANT')"  th:href="@{'/printI/' + ${art.id}}" th:if="${art.status == 3}" type="button" class="btn btn-sm  btn-success printInvoice" th:data-ref="${art.id}" data-toggle="tooltip" data-placement="top" th:title="#{print_invoice}"><i class="fa fa-print"> </i></a> -->

<!-- 										                        <a target="_blank" sec:authorize="hasAnyRole('ROLE_COM_MANAGER','ROLE_COM_ACOUNTANT')"  th:href="@{'/printI/' + ${art.id}}" th:if="${art.status == 5 || art.status == 0}" type="button" class="btn btn-sm  btn-success printInvoice" th:data-ref="${art.id}" data-toggle="tooltip" data-placement="top" th:title="#{print_invoice}"><i class="fa fa-print"> </i></a> -->
										                        
										                    
<!-- 										                        <button sec:authorize="hasAnyRole('ROLE_COM_MANAGER','ROLE_ASSISTANT')" th:if="${art.status == 1}" type="button" class="btn btn-sm btn-success validateInvoice" th:data-ref="${art.id}" data-toggle="tooltip" data-placement="top" th:title="#{invoice_validate}"><i class="fa fa-check"> </i></button> -->

<!-- 										                         <button sec:authorize="hasAnyRole('ROLE_COM_MANAGER')" th:if="${art.status == 3 || art.status == 1}" type="button" class="btn btn-sm btn-danger cancelInvoice" th:data-ref="${art.id}" data-toggle="tooltip" data-placement="top" th:title="#{invoice_cancel}"><i class="fa fa-trash"> </i></button> -->

										                    </div>
									                    </div>
									             	</div>

													
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="row col-sm-12 dataTables_paginate paging_simple_numbers">
									<div class="col-sm-3">
										<h5><span class="badge badge-pill badge-info">[[#{TOT}]] : [[${totalpages}]]</span></h5>
									</div>
<!-- 									<div class="col-sm-1"> -->
<!-- 										<span th:each="i: ${#numbers.sequence(1, totalpages)}"> -->
<!-- 											<a th:if="${currentPage !=i}" th:href="@{'/articles/' + ${i}}">[[${i}]]</a> -->
<!-- 											<span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;&nbsp; -->
<!-- 										</span> -->
<!-- 									</div> -->
									<div class="col-sm-1">
										<a th:if="${currentPage > 1}" th:href="@{'/invoices/' + ${currentPage - 1}}">[[#{PREV}]]</a>
										<span th:unless="${currentPage > 1}">[[#{PREV}]]</span>&nbsp;&nbsp;
									</div>
									
									<div class="col-sm-1">
										<a th:if="${currentPage < totalpages}" th:href="@{'/invoices/' + ${currentPage + 1}}">[[#{NEXT}]]</a>
										<span th:unless="${currentPage < totalpages}">[[#{NEXT}]]</span>&nbsp;&nbsp;
									</div>
								</div>
							</fieldset>
						</div>
					</section>
					<!-- right col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="addpayment" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">
										<i class="fa fa-medkit mr-1"></i> <strong>[[#{add_payment}]]</strong> 
									</h3>
									<div class="card-tools">	
									</div>
								</div>
								<div class="card-body">
									<div class="tab-content">
										<fieldset>
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group input-group-sm">
														<label for="pay_invoice" th:text="#{invoice}"></label> 
														<select class="form-control form-control-border" id="pay_invoice" >
															<option></option>
															<option th:each="inv:${debts}" th:value="${inv.id}" th:text="${inv.invoiceRef+' - '+inv.invoice.client.name}"></option>
														</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group input-group-sm">
														<label for="pay_client" th:text="#{client_name}"></label> 
														<input type="text" disabled="disabled" class="form-control form-control-border" id="pay_client" th:placeholder="#{client_name}" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group input-group-sm">
														<label for="pay_inv_amount" th:text="#{amount}"></label> 
														<input disabled="disabled" type="number" class="form-control form-control-border" id="pay_inv_amount" th:placeholder="#{amount}" />
													</div>
												</div>
											</div>
											
											
											
											<div class="row">
											
												<div class="col-sm-4">
													<div class="form-group input-group-sm">
														<label for="pay_amount" th:text="#{pay_amount}"></label> 
														<input type="text" class="form-control form-control-border" id="pay_amount" th:placeholder="#{pay_amount}" />
													</div>
												</div>
												
												<div class="col-sm-5">
													<div class="form-group input-group-sm">
														<label for="pay_type" th:text="#{pay_type}"></label> 
														<select class="form-control form-control-border" id="pay_type" >
															<option></option>
															<option value="1">[[#{cash}]]</option>
															<option value="2">[[#{bank}]]</option>
														</select>
													</div>
												</div>
												
												<div class="col-sm-3">
													<div class="form-group input-group-sm">
														<label for="pay_date" th:text="#{rec_date}"></label> 
														<input autocomplete="off" type="text" class="form-control form-control-border datepicker" id="pay_date" th:placeholder="#{rec_date}" />
													</div>
												</div>
												
											</div>
											
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group input-group-sm">
														<label for="pay_reference" th:text="#{pay_reference}"></label> 
														<input type="text" class="form-control form-control-border" id="pay_reference" th:placeholder="#{pay_reference}" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group input-group-sm">
														<label for="pay_bank" th:text="#{pay_bank}"></label> 
														<input autocomplete="off" type="text" class="form-control form-control-border" id="pay_bank" th:placeholder="#{pay_bank}" />
													</div>
												</div>
												
												<div class="col-sm-6">
													<div class="form-group input-group-sm">
														<label for="pay_bank_account" th:text="#{pay_bank_account}"></label> 
														<input autocomplete="off" type="text" class="form-control form-control-border" id="pay_bank_account" th:placeholder="#{pay_bank_account}" />
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group input-group-sm">
														<label for="pay_comment" th:text="#{comment}"></label> 
														<textarea class="form-control form-control-border" rows="3" id="pay_comment" th:placeholder="#{comment}"></textarea>				
													</div>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" id="savepayment">[[#{btn_save}]]</button>
						<button type="button" class="btn btn-danger" id="cancelsavepayment">[[#{btn_close}]]</button>
					</div>

				</div>
			</div>
		</div>
		
		
	</div>
	
</body>
</html>